/* Write your CSS here */
.list-item {
  background-color: #1e293b;
  border-radius: 10px;

  width: 300px;
  height: 300px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;

  font-family: 'Bree Serif';
  color: white;
  flex-grow: 1;
}
.team-img {
  width: 80px;
}
@media screen and (max-width: 576px) {
  .list-item {
    width: 150px;
    height: 400px;
    padding: 20px;
  }
  .team-img {
    width: 90px;
    border: 2px solid red;
  }
}
.lostcss {
  color: red;
}
.woncss {
  color: green;
}
