/* Write your CSS here */
.list-item {
  list-style-type: none;
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .list-item {
    width: 100%;
  }
  .team-image {
    height: 30px;
  }
}

.team-image {
  height: 150px;
}
.team-name {
  font-family: 'Bree Serif';
  color: white;
  margin-left: 20px;
}
.card-link-item {
  text-decoration: none;
}
